<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS -->
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Javascript -->
    <script src="webjars/jquery/1.11.1/jquery.min.js" type="application/javascript"/>

    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Oops!</h1>
                    <h2>
                        404 Not Found</h2>
                    <div class="error-details">
                        Sorry, an error has occured, Requested page not found!
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>